#log-details p {
    margin-bottom: 0.5rem;
}

#log-deep-info {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#logs-collection-select {
    flex: 1 0 35%;
}

#logs-date-select {
    flex: 1 0 40%;
}

#logs-search-button {
    flex: 1;
}